In [34]:
#!/usr/bin/env python3

import pandas as pd

df_rating_scores = pd.read_json("../computed/ratings_outfile_with_logit_bias_old_prompt_5_runs.jsonl", lines=True)
df_grouped = df_rating_scores.groupby(["dataset_name", "model_name", "topic_id"])["chatGPT_eval", "human_eval"].mean().reset_index()
df_grouped["diff_abs"] = (df_grouped["chatGPT_eval"]-df_grouped["human_eval"]).abs()
df_grouped["diff"] = (df_grouped["chatGPT_eval"]-df_grouped["human_eval"])

/tmp/ipykernel_32934/435855610.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_grouped = df_rating_scores.groupby(["dataset_name", "model_name", "topic_id"])["chatGPT_eval", "human_eval"].mean().reset_index()

In [36]:
df_grouped.sort_values(by="diff_abs")[:5]

,dataset_name,model_name,topic_id,chatGPT_eval,human_eval,diff_abs,diff
299,wikitext,mallet,49,2.6,2.6,0.0,0.0
157,wikitext,dvae,7,2.8,2.8,0.0,0.0
16,nytimes,dvae,16,2.0,2.0,0.0,0.0
110,nytimes,mallet,10,2.0,2.0,0.0,0.0
101,nytimes,mallet,1,3.0,3.0,0.0,0.0

In [39]:
df_grouped.sort_values(by="diff_abs")[-5:]

,dataset_name,model_name,topic_id,chatGPT_eval,human_eval,diff_abs,diff
58,nytimes,etm,8,1.4,2.866667,1.466667,-1.466667
41,nytimes,dvae,41,1.0,2.533333,1.533333,-1.533333
28,nytimes,dvae,28,1.2,2.733333,1.533333,-1.533333
34,nytimes,dvae,34,1.0,2.666667,1.666667,-1.666667
216,wikitext,etm,16,1.0,2.933333,1.933333,-1.933333

In [38]:
df_grouped.sort_values(by="diff")[-5:]

,dataset_name,model_name,topic_id,chatGPT_eval,human_eval,diff_abs,diff
200,wikitext,etm,0,2.0,1.600000,0.400000,0.400000
210,wikitext,etm,10,1.8,1.333333,0.466667,0.466667
248,wikitext,etm,48,3.0,2.533333,0.466667,0.466667
207,wikitext,etm,7,1.8,1.266667,0.533333,0.533333
242,wikitext,etm,42,1.8,1.133333,0.666667,0.666667

In [40]:
df_grouped["diff"].mean()

-0.6393333333333333